<!DOCTYPE html>
<html>
<head>

    <title>MiniFlix</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<header>

    <div class="logo">
        MiniFlix
    </div>

    <nav>

        <a href="#">Home</a>
        <a href="#">Movies</a>
        <a href="#">TV Shows</a>
        <a href="#">Telugu</a>
        <a href="#">English</a>
        <a href="#">Account</a>

    </nav>

</header>

<section class="hero">

    <h1>Unlimited Movies</h1>

    <p>Watch Anywhere. Cancel Anytime.</p>

    <button>Explore</button>

</section>

<section>

<h2>Trending Movies</h2>

<div class="movies">

    <div class="card">
        <img src="/images/pushpa.jpg">
        <h3>Pushpa</h3>
    </div>

    <div class="card">
        <img src="/images/salaar.jpg">
        <h3>Salaar</h3>
    </div>

    <div class="card">
        <img src="/images/rrr.jpg">
        <h3>RRR</h3>
    </div>

    <div class="card">
        <img src="/images/devara.jpg">
        <h3>Devara</h3>
    </div>

</div>

</section>

<footer>

<p>© 2026 MiniFlix</p>

</footer>

</body>
</html>